# guestbook-redis/redis-follower-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-follower
  labels:
    app: redis
    role: follower
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
      role: follower
  template:
    metadata:
      labels:
        app: redis
        role: follower
    spec:
      containers:
        - name: redis
          image: redis:6-alpine
          command: ["redis-server", "--replicaof", "redis-leader", "6379"]
          ports:
            - containerPort: 6379
