apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-commander
  namespace: sbchoi
  labels:
    app: redis-commander
spec:
  selector:
    matchLabels:
      app: redis-commander
  template:
    metadata:
      labels:
        app: redis-commander
    spec:
      containers:
        - name: redis-commander
          image: rediscommander/redis-commander:latest
          env:
            - name: REDIS_HOSTS
              value: leader:redis-leader:6379, follower:redis-follower:6379
          ports:
            - containerPort: 8081
