apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-leader
  namespace: sbchoi
  labels:
    app: redis
    role: leader
spec:
  selector:
    matchLabels:
      app: redis
      role: leader
  template:
    metadata:
      labels:
        app: redis
        role: leader
    spec:
      containers:
        - name: redis
          image: redis:6.2
          ports:
            - containerPort: 6379
